* {
	box-sizing: border-box;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.app {
	max-width: 1200px;
	margin: auto;
	font-size: 20px;
}

header {
	/* height: 80px; */
	align-items: center;
	display: flex;
	justify-content: space-around;
}

.logo {
	width: 6%;
}

.logo img {
	width: 100%;
}

.search-block {
	width: 44%;
	display: flex;
	justify-content: space-between;
}

.input-block {
	width: 58%;
}

input {
	width: 100%;
	height: 45px;
	font-size: 23px;
	padding: 10px;
	outline: none;
	border: 1.5px solid gray;
	border-radius: 5px;
}

.search-button {
	width: 35%;
	height: 45px;
	border: 1.5px solid gray;
	border-radius: 5px;
	font-size: 20px;
}

.total {
	width: 35%;
}

.card-list {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top: 40px;
}

.card-block {
	width: 22%;
	margin: 1% 0;
	padding: 2%;
	border: 1px solid rgb(0, 135, 228);
	border-radius: 10px;
	cursor: pointer;
	position: relative;
}

.selected-card {
	background-color: rgb(202, 230, 247);
}

.card-img {
	width: 100%;
	text-align: center;
}

.card-img img {
	width: 100%;
}

.card-title {
	font-weight: 700;
	text-align: center;
}

.card-info {
	margin: 0 0 10px 0;
	display: flex;
	justify-content: space-between;
}

.amount-block {
	display: flex;
	justify-content: space-between;
}

.amount {
	line-height: 30px;
	font-size: 24px;
	font-weight: 700;
}

.amount-block button {
	width: 30px;
	height: 30px;
	border: 1px solid rgb(0, 135, 228);
	border-radius: 5px;
	outline: none;
	cursor: pointer;
	background-color: rgb(255, 255, 255);
	color: rgb(0, 135, 228);
}

.amount-block button:disabled {
	background-color: rgb(197, 197, 197);
	border: none;
	cursor: default;
	color: white;
}

.view-details {
	color: rgb(181, 181, 181);
	position: absolute;
	top: 2px;
	right: 5px;
	font-size: 13px;
}

.view-details:hover {
	color: rgb(0, 135, 228);
}

.white {
	color: white;
}
